.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.div-block {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #e5e5e3;
}

.heading {
  width: auto;
  font-family: Inter, sans-serif;
  color: #000;
  font-size: 107px;
  line-height: 108px;
  font-weight: 700;
  text-align: center;
  letter-spacing: -3.5px;
  text-transform: lowercase;
}

.div-block-2 {
  margin-bottom: 60px;
}

.div-block-3 {
  width: 180px;
  height: 180px;
  border-style: none;
  border-width: 1px;
  border-color: #000;
  border-radius: 75px;
  background-color: #bbb;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fcf9f0), to(#fcf9f0));
  background-image: linear-gradient(180deg, #fcf9f0, #fcf9f0);
}

.body {
  background-color: #fff;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-5 {
  position: static;
  left: 10px;
  top: 10px;
  text-align: center;
}

.text-block {
  margin-bottom: 8px;
  font-family: Inter, sans-serif;
  color: rgba(0, 0, 0, 0.69);
  font-weight: 400;
  text-align: center;
}

.div-block-6 {
  margin-bottom: 60px;
}

.link {
  font-family: Inter, sans-serif;
  color: #000;
  text-align: center;
}

.container {
  max-width: 420px;
}

.heading-2 {
  color: #000;
}

.heading-history {
  width: auto;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #202020;
  font-size: 64px;
  line-height: 71px;
  font-weight: 400;
  text-align: left;
  letter-spacing: -1.5px;
}

.list {
  margin-bottom: 100px;
  font-family: Inter, sans-serif;
  color: #000;
  font-weight: 600;
  text-align: center;
  letter-spacing: -3px;
}

.section {
  padding-top: 40px;
}

.list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
  padding: 10px 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 0.25px;
  border-color: rgba(0, 0, 0, 0.03);
  border-radius: 12px;
  background-color: #fcfcfc;
  cursor: pointer;
}

.list-item:hover {
  background-color: #f1f1f1;
}

.color-icon {
  width: 30px;
  height: 30px;
  margin-right: 12px;
  border-radius: 60px;
  background-color: #9a5fd8;
  color: #72ffc4;
}

.color-icon.blue {
  margin-right: 12px;
  background-color: #fcf9f0;
}

.color-icon.red {
  background-color: #fcb7b8;
}

.color-icon.white {
  border-style: solid;
  border-width: 0.5px;
  border-color: rgba(0, 0, 0, 0.11);
  background-color: #fff;
}

.color-icon.purple {
  margin-right: 12px;
}

.color-icon.blonde {
  background-color: #75ffc5;
}

.text-block-2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: rgba(51, 51, 51, 0.78);
}

.div-block-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 8px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-3 {
  width: 200px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: rgba(51, 51, 51, 0.78);
  text-align: right;
}

.body-2 {
  padding-bottom: 100px;
  background-color: #e5e5e3;
}

.color {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 255px;
  height: 168.3px;
  margin-bottom: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 75px;
  background-color: #fcf9f0;
  text-align: center;
}

.color._237dab {
  background-color: #237dab;
}

.color._13bad4 {
  background-color: #13bad4;
}

.color.ff81e6 {
  background-color: #ff81e6;
}

.color.ff3dcb {
  background-color: #ff3dcb;
}

.color.ce33fb {
  background-color: #ce33fb;
}

.color-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
  background-color: transparent;
}

.color-date {
  margin-bottom: 4px;
  font-family: Inter, sans-serif;
  color: rgba(0, 0, 0, 0.69);
  font-weight: 400;
  text-align: center;
  letter-spacing: 0px;
}

.grid {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.color-current {
  margin-bottom: 0px;
  font-family: Inter, sans-serif;
  color: #000;
  font-weight: 400;
}

@media screen and (max-width: 991px) {
  .heading {
    font-size: 72px;
    line-height: 80px;
    text-align: center;
  }

  .heading-history {
    text-align: center;
  }

  .grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  .heading {
    text-align: center;
  }

  .heading-history {
    text-align: center;
  }

  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .div-block {
    position: static;
    margin-top: 40px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: transparent;
  }

  .heading {
    width: auto;
    text-align: center;
  }

  .body {
    background-color: #e5e5e3;
  }

  .container {
    padding-right: 10px;
    padding-left: 10px;
  }

  .heading-history {
    width: auto;
    text-align: center;
  }

  .section {
    padding-bottom: 100px;
  }

  .color-item {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .color-date {
    color: rgba(0, 0, 0, 0.69);
  }

  .grid {
    grid-auto-flow: row;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
}

#w-node-50e061c57236-03da7134 {
  -webkit-align-self: start;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
}

